body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: white;
}

.background {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.icon {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.screen {
  margin-top: 100px;
  background: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}
